
/* div{
    background-color: tomato;
    padding: 10px;
    margin: 15px;
} */

.fast{
    background-color: blue;
    margin: 5px;
    padding: 10px;
    border: solid tomato;
}

.second{
    background-color: brown;
    margin: 5px;
    padding: 10px;
    border: solid royalblue;
}

.third{
    background-color: blueviolet;
    margin: 5px;
    padding: 10px;
    border: solid red;
}